# Dependencies
node_modules

# Build outputs
dist
build
.turbo
*.tgz
*.egg-info

# TypeScript
*.tsbuildinfo

# Rust
target/

# WASM / wasm-pack
pkg/
wasm-pack.log

# Environment
.env
.env.*
!.env.example
.venv

# OS
.DS_Store
Thumbs.db

# Editors
.vscode
.idea
*.swp

#python
__pycache__